section(class="job")
  each job in jobs
    section(class="project")
      each project in job.projects
        div(class="project")
          div=project.title
          div(class="tags")
            each tag in project.tags
              span(class="tag")=tag
              | #{', '}
            ul(class="achievement")
              each achievement in project.achievements
                li=achievement
